@import 'media';

body {
  font-family: 'Montserrat', sans-serif;
  background-color: $bg;

  * {
    box-sizing: border-box;
  }
}

button {
  outline: none;
}

.container {
  background: url('../img/background.png');
  background-position: top;
  background-repeat-y: no-repeat;
}

.header {
  padding: 20px 10px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: sticky;
  top: 0;
  left: 0;
  background: #f5f8fa;
  z-index: 1;

  @include size-desktop {
    height: 100px;
    padding: 33px 100px;
    justify-content: flex-end;
  }

  &__logo {
    display: none;

    @include size-desktop {
      display: block;
      position: absolute;
      left: 100px;
      font-family: 'Montserrat', sans-serif;
      font-style: normal;
      font-weight: bold;
      font-size: 24px;
      line-height: 140%;
    }
  }

  &__button {
    height: 30px;
    width: 120px;
    box-sizing: border-box;
    transition: $transition-1;
    border: 1px solid #000;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 99px;
    cursor: pointer;
    font-weight: 500;
    font-size: 10px;
    line-height: 12px;
    text-decoration: none;
    color: #000;

    @include size-desktop {
      height: 40px;
      width: 216px;
      font-size: 16px;
      line-height: 19px;
    }

    &:not(:last-child) {
      @include size-desktop {
        margin-right: 40px;
      }
    }

    &:hover {
      background: $primary;
      border-color: $primary;
      color: white;
    }
  }
}

.main {
  overflow: hidden;
  padding: 60px 10px 80px;
  position: relative;
  min-height: 730px;

  @include size-desktop {
    min-height: unset;
  }

  &__logo {
    transition: $transition-1;
    font-family: 'Montserrat', sans-serif;
    font-style: normal;
    font-weight: 800;
    font-size: 16px;
    line-height: 140%;
    margin-bottom: 12px;

    @include size-desktop {
      display: none;
    }
  }

  @include size-desktop {
    padding: 88px 0 0;
    margin: 0 auto;
    max-width: 1200px;
    overflow: unset;
  }

  &__click {
    transition: $transition-1;
    position: absolute;
    right: 55px;
    top: 0;

    @include size-desktop {
      display: none;
    }
  }

  &__top {
    position: relative;
    transition: $transition-1;

    @include size-desktop {
      display: flex;
      justify-content: space-between;
    }

    &_active {
      transform: translateX(-80%);
      color: transparent;

      @include size-desktop {
        color: initial;
        transform: translateX(0%);
      }
    }
  }

  &__left {
    padding-right: 34px;

    @include size-desktop {
      max-width: 630px;
    }
  }

  &__title {
    font-family: 'Montserrat', sans-serif;
    font-style: normal;
    font-weight: bold;
    font-size: 32px;
    line-height: 140%;
    margin-bottom: 32px;

    @include size-desktop {
      font-size: 42px;
      line-height: 140%;
      margin-bottom: 16px;
    }
  }

  &__text {
    font-size: 16px;
    line-height: 160%;
    margin-bottom: 40px;
    font-weight: 500;

    @include size-desktop {
      font-size: 24px;
      line-height: 140%;
      margin-bottom: 24px;
    }
  }

  &__link {
    transition: $transition-1;
    color: $blue;
    font-weight: bold;

    &:hover {
      color: lighten($blue, 20%);
    }
  }

  &__iphone {
    position: absolute;
    right: -236px;
    top: -80px;
    height: 557px;

    @include size-desktop {
      right: 0;
      top: -60px;
    }
  }
}

.button {
  margin: 0 auto;
  margin-top: 170px;
  appearance: none;
  border: unset;
  background: #000;
  filter: drop-shadow(4px 4px 10px rgba(0, 0, 0, 0.2));
  font-weight: 500;
  font-size: 20px;
  line-height: 23px;
  color: #fff;
  font-family: 'Montserrat', sans-serif;
  width: 300px;
  height: 60px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 99px;
  cursor: pointer;
  text-decoration: none;
  transition: $transition-1;

  @include size-desktop {
    margin: 0;
    margin-top: 80px;
  }

  &:hover {
    background: $primary;
  }
}

.guide {
  padding: 0 24px;

  @include size-desktop {
    padding: 0;
    margin-top: 130px;
  }

  &__title {
    font-size: 32px;
    line-height: 37px;
    letter-spacing: 0.05em;
    font-weight: bold;
    text-align: center;
  }

  &__grid {
    margin: 0 auto;
    display: grid;
    grid-gap: 35px;
    margin-top: 12px;

    @include size-desktop {
      align-items: center;
      justify-content: center;
      margin-top: 24px;
      grid-template-columns: repeat(4, fit-content(100%));
    }
  }

  &__item {
    text-align: center;
  }

  &__descr {
    font-size: 16px;
    line-height: 19px;
    text-align: center;
    letter-spacing: 0.05em;
  }
}

.footer {
  margin-top: 40px;
  margin-bottom: 40px;

  @include size-desktop {
    margin-top: 72px;
    margin-bottom: 100px;
  }

  &__stats {
    @include size-desktop {
      margin-top: 46px;
      justify-content: center;
      display: flex;
    }
  }

  &__title {
    font-weight: bold;
    font-size: 32px;
    line-height: 37px;
    text-align: center;
    font-family: 'Montserrat', sans-serif;
  }

  &__text {
    font-size: 20px;
    line-height: 23px;
    text-align: center;
    letter-spacing: 0.05em;
    margin-top: 10px;
    font-family: 'Montserrat', sans-serif;
  }

  &__item {
    text-align: center;

    &:not(:last-child) {
      margin-top: 24px;

      @include size-desktop {
        margin-top: 46px;
      }
    }
  }
}

.modal {
  max-width: 90%;
  margin: 0 auto;
  padding: 16px;
  background: #f5f8fa;
  box-shadow: 4px 4px 10px #c7c7cc;
  border-radius: 10px;
  position: relative;
  overflow: hidden;
  transform: translate(0, -25%);
  opacity: 0;
  transition: $transition-2;

  @include size-desktop {
    width: 697px;
    padding: 40px;
  }

  &__gerb {
    position: absolute;
    top: -40px;
    right: -40px;
    opacity: 0.5;
    filter: drop-shadow(0 0 50px rgba(255, 18, 18, 0.5));
    height: 390px;
  }

  &__top {
    position: relative;
    margin-bottom: 48px;

    @include size-desktop {
      margin-bottom: 32px;
    }
  }

  &__title {
    font-weight: bold;
    font-size: 12px;
    line-height: 14px;
    margin-bottom: 4px;

    @include size-desktop {
      font-size: 16px;
      line-height: 19px;
    }
  }

  &__item {
    &:not(:last-child) {
      margin-bottom: 16px;
    }
  }

  &__text {
    font-size: 10px;
    line-height: 120%;
    text-align: center;
    max-width: 230px;

    @include size-desktop {
      max-width: 492px;
      font-size: 20px;
      line-height: 120%;
    }
  }

  &__button {
    filter: drop-shadow(0 0 10px rgba(0, 0, 0, 0.1));
    background: #fbfbfb;
    border-radius: 99px;
    font-size: 10px;
    line-height: 12px;
    color: #000;
    appearance: none;
    border: unset;
    cursor: pointer;
    transition: $transition-1;
    height: 16px;
    width: 48px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: bold;

    @include size-desktop {
      height: 38px;
      width: 118px;
      font-size: 16px;
      line-height: 19px;
    }

    &:hover {
      background: $primary;
      color: white;
    }
  }

  &__address {
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    font-size: 10px;
    line-height: 12px;

    @include size-desktop {
      font-size: 14px;
      line-height: 16px;
    }
  }

  &__input {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px 12px;
    background: #fbfbfb;
    border: 1px solid #c7c7cc;
    box-sizing: border-box;
    border-radius: 20px;
    position: relative;

    @include size-desktop {
      padding: 4px 4px 4px 16px;
      width: 492px;
    }
  }

  &__close {
    position: absolute;
    top: 0;
    right: 0;
    transition: $transition-1;
    z-index: 1;
    cursor: pointer;

    &:hover {
      path {
        fill: $primary;
      }
    }
  }
}

.wrapper {
  position: fixed;
  top: 0;
  left: 0;
  height: 100vh;
  width: 100%;
  background: rgba(251, 251, 251, 0.8);
  display: flex;
  align-items: center;
  justify-content: center;
  transition: $transition-1;
  visibility: hidden;
  z-index: 10000;
  opacity: 0;
  pointer-events: none;

  &_open {
    opacity: 1;
    visibility: visible;
    pointer-events: auto;

    .modal {
      opacity: 1;
      transform: translate(0, 0);
    }
  }
}

.socials {
  margin-top: 48px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 20px;

  @include size-desktop {
    max-width: 350px;
    margin: 0 auto;
    margin-top: 24px;
  }

  &__item {
    text-decoration: none;
    cursor: pointer;

    svg {
      filter: drop-shadow(0 4px 10px rgba(255, 18, 18, 0.2));
    }
  }
}

.hidden {
  opacity: 0;
}

.producthunt {
  position: fixed;
  left: calc(50% - 125px);
  top: auto;
  right: auto;
  bottom: 2%;

  @include size-desktop {
    left: 2%;
  }
}
